{% extends "base.html" %}
{% block start %}

{{request.user}}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <h2>Add Recipes</h2>
        <hr>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe name</label>
            <input name="recipe_name" required type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe description</label>
            <textarea name="recipe_description" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe image</label>
            <input name="recipe_image" type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Recipes</button>
    </form>

    <hr>

    <form>
        <div class="mt-5">
            <div class="mx-auto col-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Search food</label>
                    <input name="search" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">S.no</th>
                <th scope="col">Recipe name</th>
                <th scope="col">Recipe description</th>
                <th scope="col">Recipe image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ recipe.recipe_name }}</td>
                <td>{{ recipe.recipe_description }}</td>
                <td>
                    {% if recipe.recipe_image_base64 %}
                    <!-- Display base64 encoded image -->
                    <img src="data:image/jpeg;base64,{{ recipe.recipe_image_base64 }}" style="height:100px" alt="Recipe Image">
                    {% else %}
                    <span>No image available</span>
                    {% endif %}
                </td>
                <td>
                    <a href="/delete_recipe/{{ recipe.id }}" class="btn btn-danger">Delete</a>
                    <a href="/update_recipe/{{ recipe.id }}" class="btn btn-success m-1">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
