{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update Recipe</h2>
        <hr>

        <div class="mb-3">
            <label for="recipe_name" class="form-label">Recipe Name</label>
            <input name="recipe_name" value="{{ recipe.recipe_name }}" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="recipe_description" class="form-label">Recipe Description</label>
            <textarea name="recipe_description" class="form-control" required>{{ recipe.recipe_description }}</textarea>
        </div>

        <div class="mb-3">
            <label for="recipe_image" class="form-label">Recipe Image</label>
            <input name="recipe_image" type="file" class="form-control">
            <!-- Display current image if available -->
            {% if recipe.recipe_image_base64 %}
            <div class="mt-3">
                <p>Current Image:</p>
                <img src="data:image/jpeg;base64,{{ recipe.recipe_image_base64 }}" style="height: 100px;" alt="Recipe Image">
            </div>
            {% else %}
            <p>No image available</p>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-success">Update Recipe</button>
    </form>
</div>
{% endblock %}
